<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AltVUpdate.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <AltVUpdate.User>
      <setting name="Branch" serializeAs="String">
        <value>Release</value>
      </setting>
      <setting name="Directory" serializeAs="String">
        <value />
      </setting>
      <setting name="CSharp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NodeJs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>False</value>
      </setting>
    </AltVUpdate.User>
  </userSettings>
</configuration>